<!DOCTYPE html> 
<html lang="ko">

<head>
  <title>HISTORY</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- <script type="text/javascript" src="/js/history.js"></script>  -->
  <style type="text/css">
    @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

    body,
    html {
      font-family: "Noto Sans KR", sans-serif !important;
      font-weight: normal;
      font-style: normal;
      height: 100%;
      padding: 0;
      margin: 0;
    }

    .active {
      text-decoration: underline;
      cursor: pointer;
    }

    #Progress_Loading {
      position: absolute;
      left: 50%;
      top: 50%;
      background: #ffffff;
    }
  </style>

</head>

<body>
  <!--
  <div id="Progress_Loading">
    <img src="/Progress_Loading.gif" />
  </div>
  -->

  <!-- Popup Layer -->

  <div id="delete_layer" style="display: none;">
    <div style="height: 50px; 
              padding-top: 10px;
              padding-bottom: 20px;
  ">
      <button style="border: 1px solid hsl(0 0% 87% / 1); 
                               padding-right: 20px; 
                               padding-left: 20px; ">
        삭제
      </button>
    </div>
  </div>

  <div style="height: 50px; 
            padding-top: 10px;
            padding-bottom: 20px;
  ">
    <img src="/logo.png" style="border-right: 1px solid hsl(0 0% 87% / 1); 
                               padding-right: 20px; 
                               padding-left: 20px; 
  ">
    <a href="/home2" style="padding-left: 20px; color: hsl(0 0% 50% / 1);">HOME</a>
    <a href="/home" style="padding-left: 20px; color: hsl(0 0% 50% / 1);">MODEL LIST</a>
    <a href="/modeler" style="padding-left: 20px; color: hsl(0 0% 50% / 1);">MODELER</a>
    <a href="/history/1" style="padding-left: 20px; color: hsl(0 0% 50% / 1);">HISTORY</a>
    <% if(sess) { %>
    <a href="/logout" style="padding-left: 20px; 
                           position: absolute; 
                           right: 50px; 
                           top : 17px; 
                           color: hsl(0 0% 50% / 1);">
      LOGOUT</a>
    <% } %>
  </div>

  <div style="background-color: hsl(0,0%,97%); 
            padding: 25px 100px; 
            position: relative; 
            height: 10%;
            border-bottom: 1px solid hsl(0 0% 87% / 1);
            border-top: 1px solid hsl(0 0% 87% / 1);
            margin-top: 10px;
            font-size: 19px;
            ">
    Welcome, <%=sess%> 님
  </div>

  <div class="section" style="padding-left: 100px; 
                             height: 100%;
                             width : 100%;">
    <label style="padding-top: 10px;">이력 조회 모델 ID</label>
    <div style="padding-top: 10px; padding-bottom: 10px;">
      <span>
       <form name="historyForm" method="get" action="/history/1">
          <input type="text" id="modelHistID" name="id" style="height: 36px; 
                               width: 30%; 
                               border: 1px solid hsl(0 0% 80% / 1);
                               padding-left: 15px;
                               font-size : 13px; ">
      </form>  
      </span>
    </div>
    <table class="table table-hover" style="width: 90%;">
      <thead>
        <tr>
          <th style="width: 0%; display : none;">모델 ID</th>
          <th style="width: 10%">생성날짜</th>
          <th style="width: 10%">프로세스 ID</th>
          <th style="width: 10%">모델 이름</th>
          <th style="width: 25%">모델 세부사항</th>
          <th style="width: 20%">Version & Comment</th>
          <th style="width: 5%">열기</th>
       <!--   <th style="width: 5%">수정</th> -->
          <th style="width: 5%">삭제</th>
        </tr>
      </thead>

      <tbody>

        <% for(var i = (page * page_num) - page_num; i < (page * page_num); i++) {  %>
        <%      if(i > length){
                i++;
              }
              else{  var rows = data[i]; %>
        <tr>
          <td style="display : none;"><%= rows.MODELID  %></td>
          <td><%= rows.CRETDTTM  %></td>
          <td><%= rows.PROCESSID  %></td>
          <td><%= rows.MODELNAME %></td>
          <td><%= rows.MODELDESC %></td>
          <td><%= rows.MODELHISTDESC %></td>
          <td><a href="/viewer?id=<%= rows.MODELID %>&his=Y&creDate=<%= rows.CRETDTTM%>">열기</a></td>
        <!--  <td><a href="/modeler?id=<%= rows.MODELID %>">수정</a></td> -->
          <td><a href="/delete?id=<%= rows.MODELID %>">삭제</a></td>
        </tr>
        <% } %>
        <% } %>

        <tr>
          <td colspan="7" align="center" style="background-color: white">
            <% for(var j = 0; j < (length + 1) / page_num; j++){ %>
            [<a href="/history/<%= j + 1 %>"><%= j + 1 %></a>]
            <%}%>
        </td>
    </tr>
  </tbody>
</table>
</div>
</body>
<script type="text/javascript">

  $(document).ready(function () {

    $('#modelHistID').on('keypress', function (e) {
      if (e.keyCode == 13) {
        var submitData = document.historyForm;
        submitData.submit();
      }
    });

    /*
      $('#modelHistID').on('keypress', function (e) {
        //Enter Event
        if (e.keyCode == 13) {
          $.ajax({
            url: '/history/1',
            type: 'GET',
            data: {
              id: $('#modelHistID').val()
            },
            dataType: "json",
            success: function (data) {
              alert("조회 되었습니다.");
            },
            error: function (error) {
              alert("조회에 실패하였습니다 재 조회하시기 바랍니다.");
            }
          })
        }
      });
    */
    });

</script>
</html>