<!DOCTYPE html>
<html lang="ko">

<head>
  <title>MODEL LIST</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="https://swisnl.github.io/jQuery-contextMenu/dist/jquery.contextMenu.min.css">
 <!-- <link rel="stylesheet" type="text/css" href="node_modules/jquery-ui-dist/jquery-ui.min.css">  -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://swisnl.github.io/jQuery-contextMenu/dist/jquery.contextMenu.js" type="text/javascript"></script>

  <style type="text/css">
    @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

    body , html
    {
      font-family: "Noto Sans KR", sans-serif !important;
      font-weight: normal;
      font-style: normal;
      height: 100%;
      padding: 0;
      margin: 0;
    }

  .active {
    text-decoration: underline;
    cursor: pointer;
  }

  .section , aside{
        float:left;
       /* height:300px; */
        margin-top: -1px;
        width: 80%;
  }

  aside {
        width:20%;
        background:hsl(0 0% 97% / 1);
        float: right;
  }

  .collaborator{
  
    height: 100%;
    background-color: white;
    border-left: 1px solid hsl(0 0% 87% / 1); 
    box-shadow: rgba(0, 0, 0, 0.1) -3px 0px 5px -4px;
  }

  .collaborator_header{
    margin: 0px;
    padding: 20px;
    color: hsl(0 0% 33% / 1); 
    background-color: hsl(0 0% 97% / 1); 
    font-size: 14px;
    border-bottom: 1px solid hsl(0 0% 87% / 1); ;
    border-top: 1px solid hsl(0 0% 87% / 1); 
  }

  .btn-none{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    outline: none;
    padding: 0px 10px;
    display: flex;
    color: rgba(0, 0, 0, 0.4);
    flex: 2 1 0%;
  }


#Progress_Loading
{
 position: absolute;
 left: 50%;
 top: 50%;
 background: #ffffff;
}

td 
{
  box-shadow : 0px 2px  rgba(0, 0, 0, 0.1);
}


.popupLayer{
		height:50px;
		width : 100%;
		border:  1px solid black;
		border-radius:6px;
		font-size: 18px;
		text-align: right;
		display: table;
		padding-right: 10px;
	}

	.popupLayer span {
		display: table-cell;
		text-align: left;
		vertical-align: middle;
		text-align: right;
	}

</style>


</head>

<body>
<!-- 로딩바 -->
<div id = "Progress_Loading">
  <img src="/Progress_Loading.gif"/>
</div>

   <div style="height: 50px; 
            padding-top: 10px;
            padding-bottom: 20px;
  ">
  <img src="/logo.png" style="border-right: 1px solid hsl(0 0% 87% / 1); 
                               padding-right: 20px; 
                               padding-left: 20px; 
  ">
  <a href="/home2" style="padding-left: 20px; color: hsl(0 0% 50% / 1);">HOME</a>
  <a href="/home/1" style="padding-left: 20px; color: hsl(0 0% 50% / 1);">MODEL LIST</a>
  <a href="/modeler" style="padding-left: 20px; color: hsl(0 0% 50% / 1);">MODELER</a>
  <a href="/history/1" style="padding-left: 20px; color: hsl(0 0% 50% / 1);">HISTORY</a>
  <% if(sess) { %>
  <a href="/logout" style="padding-left: 20px; 
                           position: absolute; 
                           right: 50px; 
                           top : 17px; 
                           color: hsl(0 0% 50% / 1);">
                           LOGOUT</a>
  <% } %>
</div>

<div  style="background-color: hsl(0,0%,97%); 
            padding: 25px 100px; 
            position: relative; 
            height: 10%;
            border-bottom: 1px solid hsl(0 0% 87% / 1);
            border-top: 1px solid hsl(0 0% 87% / 1);
            margin-top: 10px;
            font-size: 19px;
            ">
  Welcome, <%=sess%> 님
</div>
  <div class="section"style="padding-left: 50px; 
                             background-color: hsl(0,0%,97%); 
                             height: 100%">
    <div style="padding-top: 10px; padding-bottom: 10px;">
      <label style="padding-top: 10px;">검색</label>
      <span style="padding-left: 20px;">
          <input type="text" id="keyword" style="height: 36px; 
                               width: 30%; 
                               border: 1px solid hsl(0 0% 80% / 1);
                               padding-left: 15px;
                               font-size : 13px; ">
      </span>
    </div>
    <!-- table-striped-->
    <table class="table table-hover" 
           style="width: 100%;"
           id="user-table" >
     <thead>
      <tr>
        <th style="width: 5%;"></th>
        <th style="width: 0%; display: none;">모델 ID</th>
        <th style="width: 10%">프로세스 ID</th>
        <th style="width: 10%">프로세스 명</th>
        <th style="width: 30%">프로세스 세부사항</th>
        <th style="width: 10%">모델 수</th>
        <th style="width: 10%">최종 수정 일시</th> 
        <th style="width: 10%">등록자</th>
        <th style="width: 10%">수정자</th>
        <th style="width: 5%;">더보기</th>
      </tr>
    </thead>

    <tbody>
     
      <% for(var i = (page * 300) - 300; i < (page * 300); i++) {  %>
      <%      if(i > length){
                i++;
              }
              else{  var rows = data[i]; %>
      <!--
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      -->
<!-- border-radius: 3px;
     border: 1px solid hsl(0 0% 87% / 1);
     box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px 0px;-->
      <tr style="background-color: #ffffff; border: 1px solid hsl(0 0% 87% / 1);"
          class="viewHistory">
        <td><input type="checkbox"></td>
        <td style="display : none;"><%= rows.MODELID  %></td>
        <td class="clicktd"><%= rows.PROCESSID  %></td>
        <td class="clicktd"><%= rows.MODELNAME %></td>
        <td class="clicktd"><%= rows.MODELDESC %></td>
        <td style="padding-left: 20px;" class="clicktd"><%= rows.DIAGRAM_CNT %></td>
        <td class="clicktd"><%= rows.UPDDTTM %></td>
        <td><%= rows.INSUSER %></td>   
        <td><%= rows.UPDUSER %></td>
        <td>
        <button class="context-menu-one btn btn-link" style="background-color: #ffffff;" id=<%= rows.MODELID %>> 
          <img src="/menu.svg" style="padding-right: 5px;" with="13", height="13">            
        </button> 
        </td>
      </tr>
    <% } %>
    <% } %>

    <tr>
        <td colspan="10" align="center">
            <% for(var j = 0; j < (length + 1) / 300; j++){ %>
            [<a href="/home/<%= j + 1 %>"><%= j + 1 %></a>]
            <%}%>
        </td>
    </tr>
  </tbody>
</table>
</div>

<!-- Colaboratin -->
<aside  style="height: 100%">
  <div class="collaborator">
    <h3 id="collaborator-sidebar-title" class="collaborator_header">공유</h3>

    <div style="display: flex;
                -webkit-box-pack: end;
                justify-content: flex-end;
                margin-bottom: 15px;
                margin-top: 15px;
    ">
        <button id="btn_user" class="btn btn-primary" style="width: 80px;">추가</button>
    </div>
    <div style="display: flex;
                -webkit-box-align: center;
                align-items: center;
                padding-left: 50px;
                padding-bottom: 10px;">
      <button class="btn-none">이름</button>
      <button class="btn-none">역할</button>
    </div>

    <ul id="user-list"
        data-test="entity-list" style="margin: 3px 0px 15px;
                                       padding-left: 0px;
                                       list-style-type: none;
                                       width: 100%;">
      <li data-test="entity-You" style="border-top: 1px solid hsl(0 0% 87% / 1);
                                        padding-top: 10px;
                                        display: flex;
                                        -webkit-box-pack: justify;
                                        justify-content: space-between;
                                        background-color: white;
                                        -webkit-box-align: center;
                                        align-items: center;
                                        color: var(--grey-lighten-50);
                                        border-bottom: 1px solid hsl(0 0% 87% / 1);
                                        margin-bottom: 10px;
                                        padding-bottom: 10px;
                                        ">
        <span style="padding-left: 50px;"><%=sess%></span>
        <span>소유</span>
        <span></span>
        </li>
      </ul>
  </div>
</aside>
</body>

<script type="text/javascript">

  $(document).ready(function(){


    $("#keyword").keyup(function () {
      var k = $(this).val();
      $("#user-table > tbody > tr").hide();
      var temp = $("#user-table > tbody > tr > td:nth-child(n):contains('" + k + "')");

      $(temp).parent().show();
    })

     $('#Progress_Loading').hide();
  
    $(document).ajaxStart(function(){
      $('#Progress_Loading').show(); //ajax실행시 로딩바를 보여준다.
    })

    $(document).ajaxStop(function(){
      $('#Progress_Loading').hide(); //ajax종료시 로딩바를 숨겨준다.
    });

    $(".delete").on('click', function (e) {
      e.preventDefault();
      var checkDelete = confirm("삭제 하시겠습니까?");

      if (checkDelete) {
        var returnurl = window.location.pathname;
        var href = $(this).attr("href");
        //window.location = href;
        //window.location = returnurl;
        $.ajax({
          url: '/delete',
          type: 'GET',
          data: {
            id: href.split('=')[1],
            page : returnurl.split('/')[2]
          },
          dataType: 'text',
          success: function (data) {
              //Row 삭제
              e.target.parentNode.parentNode.parentNode.remove();
              alert("삭제 성공하였습니다.");
          },
          error: function (error) {
            alert("삭제 실패하였습니다. 재시도 하시기 바랍니다.");
            window.location = returnurl;
          }
        })
        
      }
    });

  });
  
  $('#btn_user').on('click', function(){
      var url= "/userPopup";    
      var winWidth = 1060;
      var winHeight = 620;
      var popupOption= "width="+winWidth+", height="+winHeight;
      var myWindow = window.open(url,"userPopup",popupOption);  
  });

  $('.viewHistory').on('click', function (e) {

      if ($(e.target).hasClass("clicktd")) {

        if ($('#history_layer').is(':visible')) {
          $('#history_layer').hide();
          $('#history_layer').removeAttr('name');
        }
        else {
          var top = e.clientY - 20;
          var left = e.clientX - 40;
          $('#history_layer').attr('name', $(this)[0].children[1].textContent);
          $('#history_layer').css({
            "top": top +$(window).scrollTop(),
            "left": left,
            "position": "absolute"
          }).show();
        }
      }
  });

  $.contextMenu({
        selector: '.context-menu-one', 
        trigger: 'left',
        callback: function(key, options) {
            var m = "clicked: " + key;
            //window.console && console.log(m) || alert(m); 
            var modelId = options.$trigger[0].parentNode.parentNode.childNodes[3].innerText;

            if(key == 'edit'){
              window.location = "/modeler?id=" + modelId;
            }
            else if(key == 'delete'){
              var checkDelete = confirm("삭제하시겠습니까?");

              if (checkDelete) {
                window.location = "/delete?id=" + modelId;
              }
            }
            else if(key == 'open'){
              window.location = "/viewer?id=" + modelId;
            }
            else if (key == 'history'){
              window.location = '/history/1?id=' + modelId;
            }
        },
        items: {
            "edit": {name: "수정", icon: "edit"},
            "open": {name: "열기", icon: "copy"},
            "delete": {name: "삭제", icon: "delete"},
            "history" : {name : "이력보기" , icon : "paste"},
            "sep1": "---------",
            "quit": {name: "나가기", icon: function($element, key, item){ return 'context-menu-icon context-menu-icon-quit'; }}
        }
    });
  
  $('#history_layer').on('click', function(e){
    var s = '';
    console.log($(this).attr('name'));
    window.location = '/history/1?id=' + $(this).attr('name');
  });

  $(document).on('click', '[name="historyclick"]', function () {
    var s = "";
  });

  $(document).on('click', '#deleteRow', function () {
    this.parentNode.remove()
  });


  $(document).on('click','#SendMail',function(){
    //var pcode=$(this).attr('id'); //이거는 해당 element의 id value값을 가져오는것.
    var mailAddress = $(this).parents('span').parents('li')[0].childNodes[0].textContent;

    if(mailAddress.trim() != "" && 
       mailAddress.trim() != undefined && 
       mailAddress.trim() != 'undefined'){
        
      $.ajax({
         url: '/mailSend',
         type:'GET',
         data : { email : mailAddress},
         dataType: "json",  
         success : function(data) {

            if(data.result == 'ok'){
              alert("메일 전송이 성공하였습니다.");
            }else{
              alert("메일 전송이 실패하였습니다.");
            }
            //window.location.href = '/home/1';
          },
         error : function(error) {
            alert("메일 전송이 실패하였습니다.");
          }

      });

    }
    else{
      alert("메일주소를 확인하시기 바랍니다.");
    }
    
  });

</script>
</html>


