<!DOCTYPE html>
<html lang="ko">
<html>
<head>
  <title>Modeler</title>

  <link rel="stylesheet" href="vendor/bpmn-js/assets/diagram-js.css" />
  <link rel="stylesheet" href="vendor/bpmn-js/assets/bpmn-font/css/bpmn-embedded.css" />
  <link rel="stylesheet" href="vendor/diagram-js-minimap/assets/diagram-js-minimap.css" />
  <link rel="stylesheet" href="vendor/bpmn-js-properties-panel/assets/bpmn-js-properties-panel.css" />
  <link rel="stylesheet" href="css/app.css" />
  <link rel="stylesheet" href="css/style.css" />
  <style type="text/css">

    @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

    body , html{
      font-family: "Noto Sans KR", sans-serif !important;
      font-size: 15px;
    }


    ul.main {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: #10ad73;
    }

    ul.main:after{
     content:'';
     display: block;
     clear:both;
   }

   li.main {
     float: left;
   }

   li.main a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     width:150px;

   }
   li.main a:hover:not(.active) {
    /*background-color: #4CAF50;*/
    text-decoration: underline;
  }
  .active {
    text-decoration: underline;
    /*background-color: #4CAF50;*/
  }

  /*
  input[type=text].maininput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  */
  
</style>
</head>
<body>
 <div>
  <ul class='main'>
    <li class='main'><a href="home2">Home</a></li>
    <li class='main'><a href="home">Model List</a></li>
    <li class='main'><a href="viewer" >Viewer</a></li>
    <li class='main'><a class="active" href="modeler">Modeler</a></li>
    <li class='main'><a href="about">About</a></li>
  </ul>
</div>


<p id="xmlData" style="display:none;"><%=name%></p>
<p id="modelID" style="display:none;"><%=modelID%></p>


<div class="content with-diagram" id="js-drop-zone">

  <div class="message intro">
    <div class="note">
      Drop BPMN diagram from your desktop or <a id="js-create-diagram" href>create a new diagram</a> to get started.
    </div>
  </div>

  <div class="message error">
    <div class="note">
      <p>Ooops, we could not display the BPMN 2.0 diagram.</p>

      <div class="details">
        <span>Import Error Details</span>
        <pre></pre>
      </div>
    </div>
  </div>

  <div class="canvas" id="js-canvas"></div>
  <div class="properties-panel-parent" id="js-properties-panel"></div>
</div>
<div style="position: fixed; bottom: 130px; left: 20px;">

 <label for="name">모델 이름</label>
  <input type = "text" id = "modelName" class="maininput" value="<%=JsmodelName%>">
</div>

<div style="position: fixed; bottom: 60px; left: 20px;">
  <label for="name">세부 사항</label>
  <input type = "text" id = "modelDetailName" class="maininput" value="<%=JsmodelDetailName%>">
</div>

<div class="buttons">
  <label id="js-download-diagram" href class="active"  title="download BPMN diagram">모델러 저장</label>
  
  <label>파일 첨부
  <input type="file" id="fileInput" name="fileInput" multiple>
  </label>
  <input type="text" readonly="readonly" title="File Route">

   <% if( JsFileList != "" ){ %>
   <a id="fileList" href="download?id=<%=JsFileList%>" class = "active" > <%=JsFileList%> </a>
   <% } %>
</div>

<script type="text/javascript" src="modeler.app.js"></script>
</html>
