<!DOCTYPE html>
<html lang="ko">
<html>
<head>
  <title>Modeler</title>

  <link rel="stylesheet" href="vendor/bpmn-js/assets/diagram-js.css" />
  <link rel="stylesheet" href="vendor/bpmn-js/assets/bpmn-font/css/bpmn-embedded.css" />
  <link rel="stylesheet" href="vendor/diagram-js-minimap/assets/diagram-js-minimap.css" />
  <link rel="stylesheet" href="vendor/bpmn-js-properties-panel/assets/bpmn-js-properties-panel.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  <!-- <link rel="stylesheet" href="vendor/bpmn-js-token-simulation/assets/css/bpmn-js-token-simulation.css" />
  <link rel="stylesheet" href="vendor/bpmn-js-token-simulation/assets/css/normalize.css"> -->
  <link rel="stylesheet" href="css/bpmn-js-token-simulation/assets/css/bpmn-js-token-simulation.css" />
  <link rel="stylesheet" href="css/bpmn-js-token-simulation/assets/css/normalize.css" />
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 

  <link rel="stylesheet" href="css/app.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/colorPick.css"> 
  <style type="text/css">

    @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

    body , html
    {
      font-family: "Noto Sans KR", sans-serif !important;
      font-weight: normal;
      font-style: normal;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  

  .active {
     text-decoration: underline;
     cursor: pointer;
  }

  .panel {
    padding: 0 18px;
    background-color: gray;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    line-height: 8px;
  }

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 10;
  left: 0;
  overflow-y: scroll; /* Disable horizontal scroll */ 
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  background-color: hsl(0,0%,97%); 
  color: #444;
  cursor: pointer;
  border-right:1px solid hsl(0 0% 87% / 1);
}

/* The navigation menu links */
.sidenav a {
  padding: 10px 8px 8px 8px;
  text-decoration: none;
  font-size: 30px;
  color: black;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: white;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 15px;}
}

  .btn-file{
      position: relative;
      overflow: hidden;
  }
  
  .btn-file input[type=file] {
            position: absolute;
            top: 0;
                right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
   }


/* Remove default bullets */
ul, #myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
  font-size: 20px;
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block; 
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
  font-size: 20px;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}


.Color-Piker {
  background-image: url( '/colorizeTool.svg' );
}

.ex-SubProcessr {
  /* background-image: url( '/subprocess-collapsed.svg' ); */
  background: url('https://api.iconify.design/bpmn-sub-process-marker.svg') no-repeat center center / contain;
}

</style>
</head>
<body>

<!--
  <div id = "Progress_Loading">
    <img src="/Progress_Loading.gif"/>
  </div>
-->
<div style="height: 50px; 
padding-top: 10px;
padding-bottom: 20px;
">

<a href="/home2">
  <img src="/logo.png"
    style="border-right: 1px solid hsl(0 0% 87% / 1); 
    padding-right: 20px; 
    padding-left: 20px; "></a>

<!-- <a href="/home2" style="padding-left: 20px; color: hsl(0 0% 50% / 1);">Home</a> -->
<a href="/modelList" style="padding-left: 20px; color: hsl(0 0% 50% / 1);">Modeling</a>
<a href="/BBS" style="padding-left: 20px; color: hsl(0 0% 50% / 1);">BBS</a>
<a href="/history/1" style="padding-left: 20px; color: hsl(0 0% 50% / 1);">History</a>
<!-- <a href="/history/1" style="padding-left: 20px; color: hsl(0 0% 50% / 1);">EATS-Online</a>
<a href="/Simulation" style="padding-left: 20px; color: hsl(0 0% 50% / 1);">Simulation</a> -->
  <% if(sess) { %>
  <a href="/logout" style="padding-left: 20px; 
                           position: absolute; 
                           right: 50px; 
                           top : 17px; 
                           color: hsl(0 0% 50% / 1);">
                           Logout</a>
  <% } %>

</div>
<div style="background-color: hsl(0,0%,97%); 
            padding: 20px 20px; 
            position: relative; 
            height: 7%;
            border-bottom: 1px solid hsl(0 0% 87% / 1);
            border-top: 1px solid hsl(0 0% 87% / 1);
            margin-top: 10px;
            ">
  
  <button class="picker" id="picker1" style="width: 3%; top: 15%; left: 65%; border:0; outline :1; position: absolute;">
     <img src="/paint_icon.svg" width="80%" height="100%">
  </button> 
  


  <input type="text" id="save-time" 
         style="top: 20%;   
                border:0; 
                outline :0;
                background-color: hsl(0,0%,97%);
                color: hsl(0,0%,33%);
                font-size: 15px; ">
  <input type="text" readonly="readonly" title="File Route"  id="file_path"
         style="width: 25%; 
                top: 25%; 
                left: 30%; 
                border:0;
                outline :0; 
                position: absolute;
                background-color: hsl(0,0%,97%);
                color: black; ">






  <button class="btn btn-light" id="js-download-diagram"
          data-toggle="tooltip" data-placement="bottom" title="저장"
          style="width: 4%; top: 10%; left: 10%; border:0; outline :0; position: absolute;">
    <img src="/save_icon.svg" width="70%" height="70%">
  </button>
  
  <button class="btn btn-light" id="modelinfo"
          data-toggle="tooltip" data-placement="bottom" title="모델 정보 변경"
          style="width: 4%; top: 10%; left: 15%; border:0; outline :0; position: absolute;">
    <img src="/info_icon.svg" width="70%" height="70%">
  </button>

  <button class="btn btn-light" id="modelExport"
  data-toggle="tooltip" data-placement="bottom" title="모델 파일 Expot"
  style="width: 4%; top: 10%; left: 20%; border:0; outline :0; position: absolute;">
    <img src="/export.svg" width="70%" height="70%">
  </button> 
  
  <label class="btn btn-light btn-file" 
  data-toggle="tooltip" data-placement="bottom" title="업로드"
  style="width: 4%; top: 10%; left: 25%; border:0; outline :0; position: absolute;">
  <img src="/Attach_icon.svg" width="70%" height="70%" >
  <input type="file" id="fileInput" name="fileInput" multiple style="visibility:hidden;">
  </label>


 
  <button class="btn btn-light" id="btn-download"  
          data-toggle="tooltip" data-placement="bottom" title="다운로드"
          style="width: 4%; top: 10%; left: 70%; border:0; outline :0; position: absolute;">
    <img src="/download_icon.svg" width="70%" height="70%">
  </button> 
  <button class="btn btn-light" id="btn-list"  
          data-toggle="tooltip" data-placement="bottom" title="모델 리스트"
          style="width: 4%; top: 10%; left: 75%; border:0; outline :0; position: absolute;">
    <img src="/list_icon.svg" width="70%" height="70%">
  </button> 
  <button class="btn btn-light" id="btn-minimap"  
          data-toggle="tooltip" data-placement="bottom" title="미니맵"
          style="width: 4%; top: 10%; left: 80%; border:0; outline :0; position: absolute;">
    <img src="/minimap_icon.svg" width="70%" height="70%">
  </button> 
  <button class="btn btn-light" id="btn-panel"   
          data-toggle="tooltip" data-placement="bottom" title="속성창"
          style="width: 4%; top: 10%; left: 85%; border:0; outline :0; position: absolute;">
    <img src="/panel_icon.svg" width="70%" height="70%">
  </button> 
</div>
<p id="xmlData" style="display:none;"><%=name%></p>
<p id="modelID" style="display:none;"><%=modelID%></p>
<input type="hidden" id="modelerEnable" value="<%=enable%>">
<input type = "hidden" id = "modelType" value="<%=type%>">
<input type = "hidden" id = "catid" value="<%=catid%>">

<div id="mySidenav" class="sidenav" 
     style="border-right: 1px solid hsl(0 0% 87% / 1);">

<ul id="myUL">

  <% for(var j=0; j < data.length; j++){ %> 
  <% var text = "";  %>

  <% if(data[j].LEVEL == '1') { %>
  <%    text = data[j].MODELCATNAME; %>
  <!--
  <% if(j == 0 ){ text = '전극'} %>
  <% if(j == 1 ){ text = '조립'} %>
  <% if(j == 2 ){ text = '활성'} %>
  -->
  <li><span class="caret"><%=text%></span>
    <ul class="nested">
      <li><span class="caret">A동</span>
          <ul class="nested">
            <% for(var i=0; i < data.length; i++){ %>
            <% if( j==0 && data[i].MODELCATID == "A"){ %>
            <li>
            <a href="/modeler?id=<%=data[i].MODELID%>" 
               style="font-size: 12px;"> <%=data[i].MODELID%> [ <%=data[i].MODELNAME%> ]</a>
            </li>
           <% } %>

            <% if(j==1 && data[i].MODELCATID == "B"){ %>
            <li>
            <a href="/modeler?id=<%=data[i].MODELID%>" 
               style="font-size: 12px;"> <%=data[i].MODELID%> [ <%=data[i].MODELNAME%> ]</a>
            </li>
           <% } %>

            <% if(j==2 && data[i].MODELCATID == "C"){ %>
            <li>
            <a href="/modeler?id=<%=data[i].MODELID%>" 
               style="font-size: 12px;"> <%=data[i].MODELID%> [ <%=data[i].MODELNAME%> ]</a>
            </li>
           <% } %>

           <% } %>
        </ul>
     </li>

     <li><span class="caret">B동</span>
          <ul class="nested">
          <li>모델 ID</li>
          <li>모델 ID</li>
        </ul>
     </li>

      <li><span class="caret">C동</span>
        <ul class="nested">
          <li>모델 ID</li>
          <li>모델 ID</li>
        </ul>
      </li>
    </ul>
  </li>
  <% } %>
  <% } %>
</ul>
</div>

<div class="content with-diagram" id="js-drop-zone">
  <div class="message intro">
    <div class="note">
      Drop BPMN diagram from your desktop or <a id="js-create-diagram" href>create a new diagram</a> to get started.
    </div>
  </div>

  <div class="message error">
    <div class="note">
      <p>Ooops, we could not display the BPMN 2.0 diagram.</p>

      <div class="details">
        <span>Import Error Details</span>
        <pre></pre>
      </div>
    </div>
  </div>

  <div class="canvas" id="js-canvas"></div>
  <div class="properties-panel-parent" id="js-properties-panel"></div>
</div>

<input type = "hidden" id = "modelName" class="maininput" value="<%=JsmodelName%>">
<input type = "hidden" id = "modelDetailName" class="maininput" value="<%=JsmodelDetailName%>">


<div class="buttons" style="display: none;">
  <label id="js-download-diagram" href class="active"  title="download BPMN diagram">모델러 저장</label>
  <label id="modelinfo">모델정보입력</label>

  <input type="text" readonly="readonly" title="File Route">
  <input type="hidden" id="file_length" value="<%=JsFileList.length%>">
 <% for(var k=0; k < JsFileList.length; k++){ %>  
  <input type="hidden" id="file<%=k%>" value="download?id=<%=JsFileList[k].REPOSINFO%>">
 <% } %>
</div>



<div class="zoom" text-align: end>
  <img src="/zoom-reset-icon.png" style="position:relative" id="zoom-reset" width="40" height="40">
  <img src="/zoom-in-icon.png" style="position:relative" id="zoom-in" width="40" height="40">
  <img src="/zoom-out-icon.png" style="position:relative" id="zoom-out" width="40" height="40">
</div>

<div class="approvalTable">
  <table>
    <thead>
      <tr>
        <th style="width: 10%;">결재차수</th>
        <th style="width: 10%">결재자</th>
        <th style="width: 5%">결재상태</th>

      </tr>
    </thead>

    <tbody class="tableBody">
      <tr style="background-color: #ffffff; border: 1px solid hsl(0 0% 87% / 1);">
        <td>1</td>
        <td>여형철</td>
        <td>완료</td>
      </tr>
    </tbody>
  </table>
</div>


<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="modeler.app.js"></script>

<script type="text/javascript">

var toggler = document.getElementsByClassName("caret");
var i;

for (i = 0; i < toggler.length; i++) {
  toggler[i].addEventListener("click", function() {
    this.parentElement.querySelector(".nested").classList.toggle("active");
    this.classList.toggle("caret-down");
  });
}

</script>
</body>
</html>
